    APP_SECRETKEY = Admin__1234,
    DROPBOX_KEY = 4oymruk8jkeu33r,
    DROPBOX_SECRET = 6hir7ubnkav9ug3,
    DROPBOX_ACCESS_TYPE = scopes,
    DROPBOX_ACCESS_TOKEN = sl.BovqJsmrR2ieFMntmkG-RUre6wAo954naNXt5AA34w8gYyctUeRar-XnLz4cjkw_Se0qsTAi2liVUCutHkaSv_CITyw454_ZqupplNaHVugwphCOkIaCiV2g23sCytzco9S3PCvSA6b9,
    MAIL_USERNAME = muhammadparallelscore@gmail.com,
    MAIL_PASSWORD = Muhammad.parallelscore23,
    MAIL_DEFAULT_SENDER = muhammadparallelscore@gmail.com,
    MAIL_SENDER = muhammadparallelscore@gmail.com,
    SECRET_KEY =  b"Admin__1234",
    SERVER_BASE_ADDRESS =  http=//127.0.0.1:5001,
    VERIFICATION_CODES =  ["12345", "A2341", "other verification codes here"]
    APPLICATION_HOST = "0.0.0.0"
    APPLICATIOM_PORT = 8083